/*********************************************
 * Set ROOT Information
 *********************************************/

/* set UU primary color pallet*/
:root {
  --color-1: #FFCD00 ;
  --color-2: #000000 ;
  --color-3: #C00A35 ;
  --color-4: #000000 ;
}

/*********************************************
 * Set FONT Information
 *********************************************/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;lang=en');
@import url('https://fonts.googleapis.com/css?family=Merriweather:italic&amp;lang=en');

.title-slide {
  background-position: 95% 95%;
  background-size: 300px;
  border-left: 35px solid white;
}

.pull-right {
  text-align: right;
  min-width: 800px; /* Set the minimum width of the div */
  max-width: 800px; /* Set the maximum width of the div */
  min-height: 800px; /* Set the minimum width of the div */
  max-height: 800px; /* Set the maximum width of the div */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50%, 20%);
  
}



.reveal h2,
.reveal h3,
.reveal h5,
.reveal h6 {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}

.reveal h1,
.reveal h4{
  font-family: 'Merriweather', serif;
  font-weight: 500;
  line-height: 1;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 0px;
  margin-left: 0px;
}

body.rise-enabled div.inner_cell>div.text_cell_render.rendered_html,
.reveal body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 80%;
}

body.rise-enabled sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.2em;
  font-size: 60%;
}

body.rise-enabled sub { 
  top: 0.2em; 
}


/*********************************************
 * Set COLUMN lay-out
 *********************************************/
.column {
  float: left;
  padding: 10px;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



/* Liz trying to make two column */
    /* https://www.w3schools.com/howto/howto_css_two_columns.asp */
/*     .column {
      float: left;
      padding: 10px;
      width: 50%;
    }
*/
/* Clear floats after the columns */
/*
.row:after {
  content: "";
  display: table;
  clear: both;
}
*/
.column30 {
    float: left;
    padding: 10px;
    width: 30%;
}

.column60 {
    float: left;
    padding: 10px;
    width: 60%;
}

/* end liz messing with code she doesn't understand */



/*********************************************
 * Set IMAGE settings
 *********************************************/
.reveal section img {
  border: none;
  background: none;
}

body.rise-enabled #logo {
  width: 25%
}

#logo {
  width: 15%
}

body.rise-enabled #col_img{
  object-fit: cover;
  width: 700px;
  height: 700px;
}

#col_img{
  object-fit: cover;
  width: 350px;
  height: 350px;
}

body.rise-enabled #undraw_col_img{
  width: auto;
  height: 500px;
}

#undraw_col_img{
  width: auto;
  height: 350px;
}

body.rise-enabled #full_screen_crop{
  object-fit: cover;
  width: 100%;
  height: 700px;
}

#full_screen_crop{
  object-fit: cover;
  width: 100%;
  height: 350px;
}

body.rise-enabled #full_screen{
  width: auto;
  height: 700px;
}

#full_screen{
  width: auto;
  height: 350px;
}

/*********************************************
 * Set HEADER and FOOTER information
 *********************************************/
body.rise-enabled .header{
    top: 5%;
    width: 100%;
}

#image_caption{
  font-size: small;    
}

body.rise-enabled .footer{
    font-size: 60%;
    bottom: 25px;
    position: fixed;
    padding-bottom: 10px;
    color: black;
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left, .reveal .controls div.navigate-left.enabled {
  border-right-color: var(--color-2); }

.reveal .controls div.navigate-right, .reveal .controls div.navigate-right.enabled {
  border-left-color: var(--color-2); }

.reveal .controls div.navigate-up, .reveal .controls div.navigate-up.enabled {
  border-bottom-color: var(--color-2); }

.reveal .controls div.navigate-down, .reveal .controls div.navigate-down.enabled {
  border-top-color: var(--color-2); }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: var(--color-1); }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: var(--color-1); }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: var(--color-1); }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: var(--color-1); }